<div class="row my-5">
    <div class="offset-md-3 col-md-6 my-5">
      <form class="my-0" *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <h1 class="text-primary text-center my-3">Sign in</h1>
  
        <div class="mb-3">
          <label for="email" class="form-label">E-mail address</label>
          <input type="email" class="form-control" id="email" placeholder="Type your e-mail address here" formControlName="email"
           [ngClass]="{'is-valid': submitted && loginForm.get('email')?.valid , 'is-invalid': submitted && loginForm.get('email')?.invalid}">
          
          <!-- [ngClass] = "{nom de classe :condition }"-->
  
          <!-- <div class="d-block invalid-feedback" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">E-mail is required.</div>
          <div class="d-block invalid-feedback" *ngIf="loginForm.get('email')?.touched &&  loginForm.get('email')?.hasError('email')">E-mail must contain @ .</div> -->
          <div class="d-block invalid-feedback" *ngIf="submitted && loginForm.get('email')?.hasError('required')">E-mail is required.</div>
          <div class="d-block invalid-feedback" *ngIf="submitted &&  loginForm.get('email')?.hasError('email')">E-mail must contain @ .</div>
        </div>
  
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Type your password here" formControlName="password" 
          [ngClass]="{'is-valid': submitted && loginForm.get('password')?.valid , 'is-invalid': submitted && loginForm.get('password')?.invalid}">
          <div class="d-block invalid-feedback" *ngIf="submitted && loginForm.get('password')?.hasError('required')">Password is required.</div>
          <div class="d-block invalid-feedback" *ngIf="submitted && loginForm.get('password')?.hasError('minlength')">Password must contain more than 8 caracter.</div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="check">
          <label class="form-check-label" for="check">Remember me</label>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Sign in</button>
          <!-- <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Sign in</button> -->
        </div>
      </form>
    </div>
  </div>
  
  